*{margin:0; padding:0;}

.nav {
	width:100%;
	background: rgb(47, 53, 52);
	overflow: hidden;
	margin-bottom:20px;
}

.nav2 .menu2{
	list-style: none;
}

.nav .menu{
	list-style: none;
}

.nav2 .menu2>li{
	padding: 1em;
	width: 8%;
	float: left;
}

.nav2 .menu>li{
	padding: 1lem;
	width: 8%;
	float: left;
}

.nav2 .menu2>li>.sub-menu{
	position: absolute;
	background: rgb(47, 53, 52);
	width: 16%;
	list-style: none;
	display: none;
}

.nav2 .menu2>li:hover>.sub-menu{
	display: block;
}

.nav2 .menu>li>.sub-menu>li{
	padding: 1em;
}

.wrapper{
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}

header .logo{
	color:#f2f2f2;
	font-size:50px;
	line-height:100px;
	float:left;
}

header .nav{
	float: right;
	line-height: 70px;
}

header nav a{
	display:inline-block;
	color:#f2f2f2;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#eb9249dc;
	border-radius:50px;
}

header {	
	position: fixed;
	width: 100%;
}

.contenido p{
	margin-bottom:1em;
}

.header2 .logo{
	line-height:50px;
	font-size:30px; 
}

.header2 .nav2 .menu2{ 
	line-height:10px;
	font-size:10px;
}

.contenido{
	padding-top: 120px;
}

 .contenido p{
	margin-bottom:1em;
} 

 @media screen and (max-width:950px){
	header .logo,
	header nav{
		width:100px;
		text-align:center;
		line-height:50px;
	}

	.header2{
		height:auto; 
	}

	.header2 .logo,
	.header2 nav{
		line-height:50px; 
	}
} 

div.avatar {
    height: 200px;
    width: 200px;    
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
	background-size: 100% auto;
}

html {
	font-size: 16px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-mail4 {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?i226ha');
	src:  url('fonts/icomoon.eot?i226ha#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?i226ha') format('truetype'),
	  url('fonts/icomoon.woff?i226ha') format('woff'),
	  url('fonts/icomoon.svg?i226ha#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
	content: "\ea91";
  }
  .icon-mail4:before {
	content: "\ea8b";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-youtube:before {
	content: "\ea9d";
  }