*{margin:0; padding:0;}

.nav {
	width:100%;
	background: rgb(47, 53, 52);
	overflow: hidden;
	margin-bottom:20px;
}

.nav2 .menu2{
	list-style: none;
}

.nav .menu{
	list-style: none;
}

.nav2 .menu2>li{
	padding: 1em;
	width: 8%;
	float: left;
}

.nav2 .menu>li{
	padding: 1lem;
	width: 8%;
	float: left;
}

.nav2 .menu2>li>.sub-menu{
	position: absolute;
	background: rgb(47, 53, 52);
	width: 16%;
	list-style: none;
	display: none;
}

.nav2 .menu2>li:hover>.sub-menu{
	display: block;
}

.nav2 .menu>li>.sub-menu>li{
	padding: 1em;
}

.wrapper{
	width:90%;
	max-width:2000px;
	margin:auto;
	overflow:hidden;
}

header .logo{
	color:#f2f2f2;
	font-size:50px;
	line-height:100px;
	float:left;
}

header .nav{
	float: right;
	line-height: 70px;
}

header nav a{
	display:inline-block;
	color:#f2f2f2;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#eb9249dc;
	border-radius:50px;
}

header {	
	position: fixed;
	width: 100%;
}

.contenido p{
	margin-bottom:1em;
}

.header2 .logo{
	line-height:50px;
	font-size:30px; 
}

.header2 .nav2 .menu2{ 
	line-height:10px;
	font-size:10px;
}

.contenido{
	padding-top: 120px;
}

 .contenido p{
	margin-bottom:1em;
} 

 @media screen and (max-width:950px){
	header .logo,
	header nav{
		width:100px;
		text-align:center;
		line-height:50px;
	}

	.header2{
		height:auto; 
	}

	.header2 .logo,
	.header2 nav{
		line-height:50px; 
	}
} 